<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
     <div>
      <% if flash["notice"].present? %>
        <p><%= flash["notice"] %></p>
      <% end %>
    </div>
    <div>
        <a href="/">Home</a>
      <!-- if no user logged-in, display signup and login links -->
      <!-- else, if user logged-in, display user name and logout link -->
      <% @user = User.find_by({ "id" => session["user_id"] }) %>
      <% if @user != nil %>
        <span>Welcome, <%= @user.username %>!</span>
        <a href="/logout">Logout</a>
      <% else %>
        <!-- Show this if user is not logged in -->
        <a href="/login">Login</a>
        <a href="/users/new">Signup</a>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
